.user-show-avatar {
	height: 110px;
	width: 110px;
	border-radius: 50%;
}

.profile-avatar img {
	-webkit-box-shadow: 0px 5px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 3px 0px rgba(50, 50, 50, 0.75);
}

.job-title-icon {
	display: inline-block;
	border-radius: 4px;
	background-color: #286090;
	color: #fff;
	width: 30px;
	height: 30px;
	border: 2px solid #2e6da4;
	text-align: center;
}

.well.profile-description {
	// color: #fff;
	// background-color: #5cb85c;
	// border: #4cae4c;
	h3 {
		margin-top: 0;
	}
}

.well.contact-info {
	@extend .well.profile-description;
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}

.well.grey-bg {
	background-color: #ddd;
}